<style type="text/css">


h1,h2,h3,h4,h5,h6 {font-family: Agency FB}

a:link {text-decoration: none;color: white}
a:visited {text-decoration: none;color: white}
a:hover {text-decoration: underline;color: white}
a:active {text-decoration: none;color: white}

.bar-content
{
	font-family: Agency FB;
	font-size: 14.00pt;
	font-weight:bold;
}

.footer-content
{
	font-family: Agency FB;
	font-size: 14.00pt;
	font-weight:bold;
}

body
{
	background-image: url("back.jpg");
	background-position: 50% 0%;
	background-repeat: no-repeat;
	background-color: #221C38;
	color: #AFAFBF;
}

div.container
{
	max-width:800px;
	margin-left:auto;
	margin-right:auto;
}
div.title
{
	padding:0.5em;
	float:left;
	width:150px;
	height:150px;
	color:black;
}
div.bar
{
	font-family: Agency FB;
	font-size: 14.00pt;
	font-weight:bold;
	position:absolute;
	text-align:center;
	top:60px;
	left:170px;
	right:170px;
	float:left;
	height:60px;
	background-color: #000000;
	max-width:475;
	margin-left:auto;
	margin-right:auto;
	border-radius: 10px;
}
div.social
{
	text-align:center;
	padding:0.5em;
	float:right;
	width:150px;
	height:150px;
	padding-right:0px;
	border-right:0px;
	margin-right:0px;
}

div.content
{
	clear:both;
	margin-top:20px;
	margin-bottom:20px;
	margin-left:auto;
	margin-right:auto;
	width:800px;
	height:600px;
	border-radius: 10px;
	background-color: #000000;
}
div.bottom
{
	font-family: Agency FB;
	font-size: 14.00pt;
	font-weight:bold;
	position:relative;
	text-align:center;
	width:100%;
	height:30px;
	background-color: #000000;
	border-radius: 5px;
}

.block-text
{
	padding:1.5em;
	padding-bottom:0em;
	font-family: Agency FB;
	font-size: 14.00pt;
}

p
{
	font-weight:normal;
}

a
{
	font-weight:bold;
}

</style>